# ———————————
#  VISITATLANTICO .gitignore
# ———————————

############
# DEPENDENCIAS
############
# Node / PNPM
node_modules/
.pnpm-debug.log*
pnpm-lock.yaml

# Yarn (por si alguna vez lo usas)
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
yarn-debug.log*
yarn-error.log*

############
# BUILD / OUTPUT
############
# Next.js
.next/
out/

# Producción genérica
build/
dist/

# Vercel
.vercel/

############
# TESTS & COVERAGE
############
coverage/

############
# TYPESCRIPT
############
*.tsbuildinfo
next-env.d.ts

############
# ARCHIVOS DE CONFIG / CLAVES
############
# Variables de entorno
.env*
!.env.example
# Claves de servicio Firebase
scripts/serviceAccountKey.json

############
# SISTEMA & OTROS
############
.DS_Store
npm-debug.log*
*.pem
serviceAccountKey.json
