/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #000000;
    --background: #ffffff;
  }
  
  body {
    @apply text-gray-900 bg-white;
  }
}

/* Definir clases custom que se usan en el proyecto */
@layer utilities {
  .text-foreground {
    color: var(--foreground);
  }
  
  .bg-background {
    background-color: var(--background);
  }
}
